div.tree-closed, div.tree-open, div.tree-empty {
  width: 1.2em;
  display: none;
}
div.tree-empty {
  display: inline-block;
}
a > div.tree-open {
  display: inline-block;
}
a.collapsed > div.tree-open {
  display: none;
}
a.collapsed > div.tree-closed {
  display: inline-block;
}
